html,
body {
    width: 100%;
    height: 100%;
}
.showQuiz {	
	display: none;
}
#countdownTimer {
	font-size: 60px;
	font-weight: bold;	
}
.quizQuestionHeader {
	background-color: rgba(145, 201, 97, 0.65);
	padding: 10px;
	font-size: 36px;
	height: 120px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	/*border: 1px solid #0a1b00;*/
}

.panel-heading {
	padding: 0;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.startButton {
	background-color: #a749b7;
	font-size: 36px;
	padding: 20px;
	color: #fbfdfc;
	font-weight: bold;
}
.container {
	width: 800px;
}
button.list-group-item {
	text-align: center;
}
#displayCorrect {
	height: 185px;
	font-size: 24px;
}